@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: source-han-sans-japanese, -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
  font-weight: 300;
  font-size: max(8px, min(2vw, 10px));
  scroll-behavior: smooth;
}

/*h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
}*/

body {
  font-size: 1.6rem;
  position: relative;
  z-index: -2147483647;
}

body.no_scroll {
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.no_select {
  user-select: none;
}

#opening {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 255;
  overflow: hidden;
  visibility: hidden;
}

#o_Prog {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  left: -100%;
  transform: translateY(-50%);
  background-color: white;
  opacity: 0;
  visibility: visible;
}

#o_Prog.load {
  animation: prog 2s forwards;
}

@keyframes prog {
  40% {
    left: -70%;
    opacity: 0.5;
  }

  80% {
    left: -20%;
    opacity: 0.8;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

#o_Prog.visible {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0s;
  transition: 0s;
}

#o_Up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: black;
  visibility: visible;
}

#o_Up.visible {
  top: -50%;
  opacity: 0.5;
  -webkit-transition: .8s ease-out;
  transition: .8s ease-out;
}

#o_Down {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: black;
  visibility: visible;
}

#o_Down.visible {
  top: 100%;
  opacity: 0.5;
  -webkit-transition: .8s ease-out;
  transition: .8s ease-out;
}

#o_Filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  z-index: 254;
}

#o_Filter.load {
  opacity: 0;
  visibility: hidden;
}

#cont {
  position: relative;
  width: 100%;
  display: none;
  z-index: -2147483647;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  opacity: 0.98;
  box-shadow: 0 0 0.8rem 0.6rem #4444;
}

header .m_bar {
  position: relative;
  background-color: white;
  width: 100%;
  height: 100%;
}

header .menu {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .menu li {
  position: relative;
  width: 20%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .menu li a,
header .menu li p {
  position: relative;
  display: block;
  color: black;
  text-align: center;
  padding: 2rem 0;
  width: 100%;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  white-space: nowrap;
}

header .menu .first {
  z-index: 3;
}

header .menu a {
  z-index: 2;
}

header .menu li .first::after {
  position: absolute;
  content: "";
  left: 20%;
  bottom: 15%;
  width: 60%;
  height: 0.2rem;
  background-color: #404040;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}

header .menu li a:hover {
  background-color: #ebf6f7;
}

header .menu li:hover .first::after {
  transform: scale(1, 1);
}

header .menu ul {
  display: block;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 80%;
  width: 100%;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

header .menu li:hover>ul {
  visibility: visible;
  opacity: 1;
  top: 100%;
  box-shadow: 0.2rem 0.5rem 0.5rem #4444;
}

header .menu ul li {
  display: inline-block;
  width: 100%;
}

header .menu .now {
  color: white;
  background-color: darkslateblue;
}

header .menu .now:hover {
  background-color: darkslateblue !important;
}

header .menu .now::after {
  background-color: aliceblue !important;
}

#humb {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  aspect-ratio: 1/1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 128;
}

#humb.on {
  transform: translateX(calc(6.6rem - 24rem));
  transition: 0.3s;
}

#humb > div {
  position: relative;
  margin: 30% 25%;
  width: 50%;
  height: 40%;
}

#humb div div {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  transform-origin: center center;
}

#humb div div::after {
  position: absolute;
  content: "";
  top: 50%;
  width: 100%;
  height: 0.1rem;
  background-color: black;
  transition: background-color 0.6s;
}

#humb div div:nth-of-type(1) {
  top: -50%;
  transform: translateX(-100%);
  transition-delay: 0s;
}

#humb div div:nth-of-type(2) {
  top: 0%;
  transform: translateX(-100%);
  transition-delay: 0.05s;
}

#humb div div:nth-of-type(3) {
  top: 50%;
  transform: translateX(-100%);
  transition-delay: 0.1s;
}

#humb.on div div:after {
  background-color: white;
}

#humb.on div div:nth-of-type(1) {
  animation: humb1_a 0.6s forwards;
}

@keyframes humb1_a {
  50% {
    transform: translateY(50%) rotate(0);
  }

  100% {
    transform: translateY(50%) rotate(45deg);
  }
}

#humb.on div div:nth-of-type(2) {
  -webkit-transform: scale(0, 1);
  -webkit-transition: 0s;
  -webkit-transition-delay: 0.3s;
  transform: scale(0, 1);
  transition: 0s;
  transition-delay: 0.3s;
}

#humb.on div div:nth-of-type(3) {
  animation: humb3_a 0.6s forwards;
}

@keyframes humb3_a {
  50% {
    transform: translateY(-50%) rotate(0);
  }

  100% {
    transform: translateY(-50%) rotate(-45deg);
  }
}

#humb.off div div:nth-of-type(1) {
  animation: humb1_b 0.6s forwards;
}

@keyframes humb1_b {
  0% {
    transform: translateY(50%) rotate(45deg);
  }

  50% {
    transform: translateY(50%) rotate(0);
  }

  100% {
  }
}

#humb.off div div:nth-of-type(2) {
  -webkit-transform: scale(1, 1);
  -webkit-transition: 0.3s ease;
  -webkit-transition-delay: 0.3s;
  transform: scale(1, 1);
  transition: 0.3s ease;
  transition-delay: 0.3s;
}

#humb.off div div:nth-of-type(3) {
  animation: humb3_b 0.6s forwards;
}

@keyframes humb3_b {
  0% {
    transform: translateY(-50%) rotate(-45deg);
  }

  50% {
    transform: translateY(-50%) rotate(0);
  }

  100% {
  }
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 127;
  visibility: hidden;
}

#sidemenu {
  position: absolute;
  top: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateX(100%);
  width: 24rem;
  height: 100vh;
  background-color: black;
  visibility: visible;
  transition-delay: 0s;
  transition: 0.3s ease;
}

#sidebar.on #sidemenu {
  visibility: visible;
  right: 0;
  transform: translateX(0%);
  transition-delay: 0.3s;
}

#screen a,
#sidemenu a,
#sidemenu p {
  position: relative;
  display: block;
  color: white;
  background-color: transparent;
  padding: 2rem 2.4rem;
  width: 100%;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  white-space: nowrap;
}

#sidemenu li ul a {
  color: whitesmoke;
  padding: 1rem 3.2rem;
  font-size: 1.4rem;
}

#sidemenu li:first-child a:hover {
  position: relative;
}

#sidemenu li:not(:first-child) a:hover {
  background-color: darkslateblue;
}

#screen {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100vh;
  top: -100vh;
  left: 0;
  visibility: hidden;
  opacity: 0.5;
  transition: 0.3s ease;
  transition-delay: 0.3s;
}

#sidebar.on #screen {
  visibility: visible;
  opacity: 0.5;
  top: 0vh;
  transition-delay: 0s;
}

.main {
  text-align: center;
  position: relative;
  z-index: -2;
}

#frame_box {
  position: relative;
  margin: 5rem auto 0 auto;
  padding: 3rem min(8rem, 10%);
  width: fit-content;
  height: fit-content;
  
}

#frame_box h1#text {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: min(max(5vw, 3.2rem), 4.8rem);
  visibility: hidden;
  overflow: hidden;
}

#frame_box>div {
  position: relative;
  width: fit-content;
  height: fit-content;
}

#frame_box div div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left top;
  background-color: #d8e3f8;
  visibility: visible;
}

#frame_box.load h1#text {
  font-weight: 300;
  transition-delay: 0.9s;
  visibility: visible;
  white-space: nowrap;
}

#frame_box.load div div {
  animation: box_load1 1.2s forwards;
}

@keyframes box_load1 {
  50% {
    transform: scaleX(0);
  }

  73% {
    transform: scaleX(1);
  }

  77% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(1) translateX(101%);
  }
}

#frame_box::before,
#frame_box::after {
  content: '';
  width: 4rem;
  height: 4rem;
  position: absolute;
  transition: 0.8s;
  opacity: 0;
}

#frame_box::before {
  border-left: solid 2px #005fb1;
  border-top: solid 2px #005fb1;
  top: 0;
  left: 0;
}

#frame_box::after {
  border-right: solid 2px #005fb1;
  border-bottom: solid 2px #005fb1;
  bottom: 0;
  right: 0;
}

#frame_box.load::before,
#frame_box.load::after {
  opacity: 1;
}

#t {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #000000;
  overflow: hidden;
}

#t img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
}

#t h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: min(max(10vw, 6.4rem), 16.0rem);
  color: aliceblue;
  opacity: 0.8;
  white-space: nowrap;
  user-select: none;
}

#grid {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  background-color: #eee;
}

#grid .article {
  background-color: white;
}

.main h3 {
  color: #213;
  font-size: 2.4rem;
  font-weight: 600;
  text-align: left;
  position: relative;
  padding: 0.8rem;
  padding-left: 2rem;
  margin: 0 8%;
  border-left: 0.4rem solid darkslateblue;
}

.main p {
  text-align: left;
  box-sizing: border-box;
  font-size: 1.7rem;
  padding: 5rem 10%;
  line-height: 240%;
}

.main .big {
  font-size: larger;
}

.main .emphasis {
  padding: 0;
  text-align: center;
  font-size: 2.7rem;
  font-weight: 600;
}

.main p.narrow {
  padding: 3rem 10%;
}

.main p.home {
  font-size: 1.8rem;
  padding: 8rem 16%;
}

.main b {
  background: linear-gradient(transparent 65%, #9ee 35%);
}

.main span.emphasis {
  background: linear-gradient(to right, #bee, #bbe);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 40%;
}

.main b.no_line {
  background: transparent;
}

#insert {
  margin-top: 4rem;
  width: 70%;
}

#page_move {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  width: 100%;
  height: auto;
}

#page_move a {
  color: #112;
  background-color: white;
  display: inline-block;
  position: relative;
  margin: 5%;
  padding: 5rem 20%;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: 600;
  box-shadow: 0.3rem 0.4rem 0.5rem #8882;
  transition: 0.3s;
}

#page_move a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#page_move a:first-child {
  margin-right: 2%;
  text-align: left;
}

#page_move a:last-child {
  margin-left: 2%;
  text-align: right;
}

#page_move a::after {
  content: '';
  width: 60%;
  height: 0.2rem;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%) scaleX(1);
  background-color: gray;
  transition: 0.3s;
  transform-origin: center center;
}

#page_move a:hover {
  background-color: #fbfbfb;
  box-shadow: 0.3rem 0.4rem 0.5rem #8884;
}

#page_move a:hover::after {
  transform: translateX(-50%) scaleX(1.1);
  background-color: darkslategray;
}

footer {
  position: relative;
  background-color: #2b2b2b;
  width: 100%;
  z-index: -1;
  display: block;
  box-sizing: border-box;
}

footer .bar {
  height: 1rem;
  background-color: transparent;
}

footer p {
  color: #f0f0f0;
  font-size: 1.2rem;
  text-align: center;
  padding: 8rem 0 2rem 0;
}

footer .menu {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #2b2b2b;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer .menu li {
  position: relative;
  width: 20%;
  background-color: transparent !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer .menu li:not(:first-child):after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.2rem;
  height: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
}

footer .menu li a,
footer .menu li p {
  position: relative;
  display: block;
  color: white;
  text-align: center;
  font-size: 1.4rem;
  padding: 1.6rem 0;
  width: 100%;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  white-space: nowrap;
}

footer .menu li a:hover {
  color: gray;
}

.heading10 {
  text-align: left;
  position: relative;
  padding-top: 2.1rem;
  font-size: 2.8rem;
  margin: 5rem 5% 0 5%;
  border-bottom: 0.2rem solid darkslateblue;
}

.heading10 span {
  color: #112;
  position: relative;
  z-index: 2;
  font-weight: 600;
}

.heading10::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(5, 62, 98, 0.2);
  font-size: 3.2rem;
  font-weight: 600;
  z-index: 1;
}


@media (max-width:800px) {

  header .menu {
    opacity: 0;
    visibility: hidden;
  }

  header .menu .first {
    transform: translateX(10%);
  }

  #humb {
    right: 0;
    opacity: 1;
    visibility: visible;
  }

  #humb div div:nth-of-type(1) {
    transform: none;
    transition-delay: 0.1s;
  }

  #humb div div:nth-of-type(2) {
    transform: none;
  }

  #humb div div:nth-of-type(3) {
    transform: none;
    transition-delay: 0s;
  }

  #grid {
    grid-template-columns: 0% 100% 0%;
  }
}

@media (max-width:250px) {

  #sidemenu {
    max-width: 100%;
  }
}
